@page
@model Bank.Pages.Deposits.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить</h1>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h4>Deposit</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deposit.DepName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deposit.DepName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deposit.MinDepTern)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deposit.MinDepTern)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deposit.MinDepAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deposit.MinDepAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deposit.AddCond)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deposit.AddCond)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deposit.InRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deposit.InRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deposit.Cur)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deposit.Cur.CurId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Deposit.DepId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться к списку</a>
    </form>
</div>
