@page
@model Bank.Pages.Employees.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Подробнее</h1>

<div>
    <h4>Сотрудник</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Adress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Adress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Telephone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Telephone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Pos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Pos.PosName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Employee.EmId">Редактировать</a> |
    <a asp-page="./Index">Вернуться к списку</a>
</div>
