@page
@model Bank.Pages.Depositors.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Подробнее</h1>

<div>
    <h4>Depositor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Depositor.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Depositor.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Depositor.Adress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Depositor.Adress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Depositor.PhoneNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Depositor.PhoneNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Depositor.DeposDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Depositor.DeposDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Depositor.RefundDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Depositor.RefundDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Depositor.SummAm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Depositor.SummAm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Depositor.SummRef)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Depositor.SummRef)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Depositor.DepRafMark)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Depositor.DepRafMark)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Depositor.Dep)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Depositor.Dep.DepId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Depositor.Em)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Depositor.Em.EmId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Depositor.PassData">Редактировать</a> |
    <a asp-page="./Index">Вернуться к списку</a>
</div>
