@page
@model Bank.Pages.Depositors.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Вкладчики</h1>

<p>
    <a asp-page="Create">Создать нового</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Depositor[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depositor[0].Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depositor[0].PhoneNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depositor[0].DeposDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depositor[0].RefundDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depositor[0].SummAm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depositor[0].SummRef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depositor[0].DepRafMark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depositor[0].Dep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depositor[0].Em)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Depositor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeposDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefundDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SummAm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SummRef)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepRafMark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Em.EmId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dep.DepId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PassData">Редактировать</a> |
                <a asp-page="./Details" asp-route-id="@item.PassData">Подробнее</a> |
                <a asp-page="./Delete" asp-route-id="@item.PassData">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
